body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	margin-top: 50px;
}

input[type="text"] {
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ccc;
	width: 250px;
	font-size: 16px;
}

button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}

button:hover {
	background-color: #3e8e41;
}

#resultName {
	color: white;
	font-size: 200px;
	line-height: 200px;
}